div#main {
    margin-top: 1rem;
}

.header {
    font-size: 5rem;
    text-align: center;
}

.reporter {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.paragraph {
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}